<h1 style="font-size:25px;text-align:center;line-height:30px;"><b>IMG is a Wharton tech startup community for those that live and breathe entrepreneurship. We create pixel-perfect design while changing the world one product at a time.</b></h1><br />

<p style="font-size:18px;color:#004782;"></p>


<%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
<%= content_tag(:p, alert, :class => 'alert') if alert.present? %>

<p style="font-size:20px;float:left;margin-right:10px;color:#004782;"><b>Sign up here:</b></p>

<%= form_for @email, :url => emails_path, :class => "email-form" do |f| %>
	<%= f.text_field :email, :placeholder => "email address", :class => "field" %>
	<%= f.submit "Submit" %>
<% end %>

<div id="projects-div">
	<h1 style="font-size 25px;margin-bottom:10px;">IMG Projects and Businesses</h1>
	<% @users.each do |user| %>
	    <div class="project-frame">
		    <a href="<%= user.project_dest %>"><img class="center" src="<%= user.project %>" /></a>
		    <div class="desc-text center" style="background: white url(../images/bg.png) repeat top left;color:#8b8b8b;text-shadow: white 1px 1px 0px;height:190px;width:290px;padding:5px;display:none;"><%= user.project_desc %></div>
		    <a href="#" class="description_link" style="float:right;margin-right:10px;margin-bottom:10px;">Description</a>
		    <div class="project-info" style="clear:both;">
		        <div class="text"><b><%= user.project_name %></b> by </div>
		        <div class="gravatar"><a href="<%= user.gravatar_dest %>"><img class="gravatar-image" title="<%= user.name %>" src="<%= user.gravatar %>" /></a></div>
		    </div>
		</div>
	<% end %>
</div>		