<!DOCTYPE html>
<html>
<head>
  <title>IMG</title>
  <%= stylesheet_link_tag :all %>
  <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header-background">
        <div id="header">
            <a href="<%= root_path %>"><img src="/images/logo.png" style="float:left;"/></a>
            <div id="header-links">
                <%= link_to "Projects", "" %> |
                <%= link_to "Members", "" %> |
                <%= link_to "Schedule", "" %> |
                <%= link_to "Contact"%>   
            </div>      
        </div> 
    </div> 
    <div id="main">  
        <%= yield %>
        <div class="push"></div>
    </div>      
</body>

<div id="footer">
</div>

</html>
